.banner {
    background-color:aliceblue;
    margin-top:75px;
    text-align:center;
    padding: 100px 0;
}

#resizing {
    width:1000px;
}

#title {
    font-size:45px;
    color:#666666;
}

.bold {
    font-weight: 900;
}

p, li {
    font-size: 18px;
}
   
a {
    text-decoration: none;
}